*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    background: #000239;
    color: #fff;
}

.container {
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.display {
    width: 90%;
    margin: 30px 0 0 10px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 24px;
}

.container h1 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 50px;
}

.container #password-h1 {
    font-size: 26px;
    font-weight: 800;
    color: rgb(10, 207, 10);
    border-bottom: 4px solid rgb(24, 105, 24);
    padding-bottom: 5px;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 24px;
}

.container #generate {
    margin: 20px 0 0 1rem;
    padding: 16px 26px;
    border: 0;
    outline: 0;
    background: rgb(10, 207, 10);
    border-radius: 10px;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container #generate button:hover {
    background: rgb(255, 255, 255);
    color: black;
    transform: scale(1.1);
}

.container #generate span {
    color: #fff;
}

.container-checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: space-around;
    flex-direction: row;

    .checkbox-area {
        margin-top: 5px;
        flex: 0 0 50%;

        label {
            margin-left: 5px;
            font-size: 16px;
        }

        input {
            width: 20px;
            height: 20px;
            cursor: pointer;

            &:checked {
                accent-color: rgb(26, 207, 10);
            }
        }
    }
}

.container-range {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    margin-top: 30px;

    input {
        margin: 0 15px 0 15px;
        flex: 0 0 50%;
        transform: rotateX(180deg);
    }

    button {
        width: 40px;
        height: 40px;
        border: 0.1px solid rgb(10, 207, 10);
        border-radius: 100%;
        outline: 0;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

}

/* Media Queries */
@media screen and (max-width: 768px) {
    .container {
        margin: 5%;
    }

    .container h1 {
        margin-bottom: 30px;
    }

    .display {
        width: 95%;
        justify-content: space-between;
        padding: 18px;
        margin: 20px 10px 0 10px;
    }

    .container #generate {
        margin: 20px 10px 0 10px;
        padding: 14px 20px;
        font-size: 18px;
    }

    .display input {
        font-size: 16px;
    }
}